.mortgage-container {
    width: 960px;
    max-width: 100%;
    position: relative;
    margin: 0 auto; /* centers the container horizontally */
    margin-top: 5px;
    display: flex; /* for vertical alignment */
    justify-content: center; /* centers content horizontally */
    background: transparent; /* removes the background */
    box-shadow: 0px 0px 20px rgba(0,0,0,0.15); /* adds a shadow */
}

.mortgage-container iframe {
    border: none;
  }



