.House-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 20px 20px 20px;
  }

  .House-details-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 20px 20px 20px;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  .House-details h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .House-details img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .House-details p {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .LoadDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    z-index: 1000;
}
  