body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}



.App {
  position: relative;
  animation: fadeIn 1s ease-in-out;
}

.App-logo {
  width: 50mm;
  margin-left: 30px;
  animation: slideDown 1s ease-in-out;
}

.App-header {
  font-family: 'Quicksand', sans-serif;
  background-color:  transparent;
  position: fixed;
  z-index: 1;
  min-height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
}

.App-footer {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5D1A91;
  color: white;
  padding: 20px;
}

.Home-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 20px 20px;
  color: #5D1A91;
  text-decoration: none;
  animation: slideDown 1s ease-in-out;
}


.Home-link:hover {
  color: #0056b3;
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px 40px 20px 20px;
}

/* Add this to your App.css file */


